* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}

body {
    background-color: rgb(222, 237, 250);
}

header {display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    padding: 3%;
    background-color: #991414;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

h1{
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

h2 { 
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    margin-left: 420px;
}

h3 {
   font-size: 100%;
   font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    margin-left: 50px;
}

h4 {
   font-size: 150%;
   margin-left: 450px;
}

h5 {
   font-size: 125%;
   margin-left: 450px;
}

 #hero {
    font-size: 75%;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    margin-left: 475px;
 }

 .title {
    font-size: 50px;
    border: 40px solid rgb(13, 13, 236);
    
 }

 #subreddits {
    border: 10px solid #991414;    
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px;
 }

 #character-image {
   margin-left: 475px;
   margin-top: 5px;
 }
 
 #hero-name {
   margin-left: 130px;
 }