* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}

body {
    background-color: rgb(222, 237, 250);
}

header {display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    padding: 1%;
    background-color: #991414;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

h1{
    color: #fff;
}

h2 { 
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}
 .hero {
    font-size: 75%;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
 }

 .title {
    font-size: 20px;
    border: 1px solid blue;
    
 }

 #reddit {

 }

 #subreddits {
    border: 5px solid #807b7b;
    padding-top: 5px;
    padding-bottom: 5px;
 }
 
 .s2 {
    border: 5px solid #807b7b;
 }

 .s3 {
    border: 5px solid #807b7b;
 }

 .s4 {
    border: 5px solid #807b7b;
 }

 .s5 {
    border: 5px solid #807b7b;
 }