* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}

body {
    background-color: rgb(222, 237, 250);
}

header {display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: space-between;
    padding: 1%;
    background-color: #991414;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

h1{
    font-size: 250%;
}

h2 { 
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}
 .hero {
    font-size: 75%;
    font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
 }